<a href="https://colab.research.google.com/github/sedavasema/mohammad/blob/main/data_structure_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=input('please type a number')

please type a number20

In [2]:
type(a)

str

In [4]:
import numpy as np
b=np.array([1,2,3])

In [7]:
b.dtype
b.ndim

1

In [14]:
a=input('plese type a number ')
a=int(a)
if a>100:
  print('a greter than 100')
elif 40<a<70:
  print('a beyn 40 ta 70')
else:
  print('a less than 100')

plese type a number 50
a beyn 40 ta 70

In [15]:
L = [1, 2, [3, 'ali', 'reza', [5, True], 9], 8]

In [23]:
L[2][3][1]=False

In [24]:
L

[1, 2, [3, 'ali', 'reza', [5, False], 9], 8]

In [26]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([7,5,3,8,9,11,20,34,54,68]))

[3, 5, 7, 8, 9, 11, 20, 34, 54, 68]

In [27]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

#1: cat
#2: dog
#3: monkey

In [28]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [29]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

## Dictionaries

In [30]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; prints "True"
d['fish'] = 'wet'     # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"
# print(d['monkey'])  # KeyError: 'monkey' not a key of d
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"
del d['fish']         # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

cute
True
wet
N/A
wet
N/A

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' % (animal, legs))