<a href="https://colab.research.google.com/github/sedavasema/mohammad/blob/main/distance_metrics_khodam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({ "saeed":  {"m1": 4, "m2": 2,"m3": 5},
                  "abbas":  {"m1": 5, "m2": 4,"m3": 7},
                  "alireza":{"m1": 3, "m2": 1,"m3": 4}
                })

In [ ]:
df=pd.DataFrame({ "saeed": { "m1": 4, "m2": 2,"m3": 5,"m4": "-","m5": 2,"m6": 3,"m7": 4,"m8": 5,"m9": "-","m10": "-"},
                  "abbas": { "m1": 3, "m2": "-", "m3": 4,"m4": 2,"m5": "-","m6": "-","m7": "-","m8": "-","m9": "-","m10": "-"},
                  "alireza": {"m1": 3,"m2": "-","m3": 4,"m4": 5,"m5": 2,"m6": 3,"m7": 4,"m8": 5,"m9": 5,"m10": 5 }
                })

In [3]:
df

    saeed  abbas  alireza
m1      4      5        3
m2      2      4        1
m3      5      7        4

In [4]:
df_dict=df.to_dict()

In [37]:
df_dict.keys()

dict_keys(['saeed', 'abbas', 'alireza'])

In [38]:
df_dict['saeed'].items()

dict_items([('m1', 4), ('m2', 2), ('m3', 5)])

In [8]:
rating1 = dict(filter(lambda x: x[1] != '-', df_dict['saeed'].items()))

rating2 = dict(filter(lambda x: x[1] != '-', df_dict['alireza'].items()))

In [31]:
def get_euclidean_distance(rating1,rating2):
    
    
    rating1 = dict(filter(lambda x: x[1] != '-', rating1.items()))
    rating2 = dict(filter(lambda x: x[1] != '-', rating2.items()))
    
    distance = 0
    for key in rating1:
        if key in rating2:
            distance += pow(abs(rating1[key]-rating2[key]), 2)
    return pow(distance, 1/2)

dt=df_dict

print('saeed-alireza:%f'%get_euclidean_distance(dt['saeed'],dt['alireza']))
print('saeed-abbas:%f'%+get_euclidean_distance(dt['saeed'],dt['abbas']))

saeed-alireza:1.732051
saeed-abbas:3.000000

In [9]:
def get_Minkowski_distance(rating1,rating2):
    
    
    rating1 = dict(filter(lambda x: x[1] != '-', rating1.items()))
    rating2 = dict(filter(lambda x: x[1] != '-', rating2.items()))
    i=0
    distance =[0,0,0,0,0,0,0,0,0,0]
    for key in rating1:
        if key in rating2:
            distance[i] = abs(rating1[key]-rating2[key])
            i+=1
    return max(distance)

dt=df_dict

print('saeed-alireza:%f'%get_Minkowski_distance(dt['saeed'],dt['alireza']))
print('saeed-abbas:%f'%get_Minkowski_distance(dt['saeed'],dt['abbas']))

saeed-alireza:1.000000
saeed-abbas:2.000000