<a href="https://colab.research.google.com/github/sedavasema/mohammad/blob/main/similarity_metrics_khodam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({ "saeed": { "m1": 4, "m2": 2,"m3": 5,"m4": "-","m5": 2,"m6": 3,"m7": 4,"m8": 5,"m9": "-","m10": "-"},
                  "abbas": { "m1": 3, "m2": "-", "m3": 4,"m4": 2,"m5": "-","m6": "-","m7": "-","m8": "-","m9": "-","m10": "-"},
                  "alireza": {"m1": 3,"m2": "-","m3": 4,"m4": 5,"m5": 2,"m6": 3,"m7": 4,"m8": 5,"m9": 5,"m10": 5 }
                })

In [3]:
df

    saeed abbas alireza
m1      4     3       3
m2      2     -       -
m3      5     4       4
m4      -     2       5
m5      2     -       2
m6      3     -       3
m7      4     -       4
m8      5     -       5
m9      -     -       5
m10     -     -       5

In [4]:
df_dict=df.to_dict()

In [5]:
df_dict.keys()

dict_keys(['saeed', 'abbas', 'alireza'])

In [7]:
df_dict['saeed'].items()

dict_items([('m1', 4), ('m2', 2), ('m3', 5), ('m4', '-'), ('m5', 2), ('m6', 3), ('m7', 4), ('m8', 5), ('m9', '-'), ('m10', '-')])

In [8]:
rating1 = dict(filter(lambda x: x[1] != '-', df_dict['saeed'].items()))

rating2 = dict(filter(lambda x: x[1] != '-', df_dict['alireza'].items()))

In [ ]:
def get_euclidean_distance(rating1,rating2):
    
    
    rating1 = dict(filter(lambda x: x[1] != '-', rating1.items()))
    rating2 = dict(filter(lambda x: x[1] != '-', rating2.items()))
    
    distance = 0
    for key in rating1:
        if key in rating2:
            distance += pow(abs(rating1[key]-rating2[key]), 2)
    return pow(distance, 1/2)

dt=df_dict

print('saeed-alireza:%f'%get_euclidean_distance(dt['saeed'],dt['alireza']))
print('saeed-abbas:%f'%+get_euclidean_distance(dt['saeed'],dt['abbas']))

saeed-alireza:1.414214
saeed-abbas:1.414214

In [9]:
def get_manhattan_distance(rating1,rating2):
    
    rating1 = dict(filter(lambda x: x[1] != '-', rating1.items()))
    rating2 = dict(filter(lambda x: x[1] != '-', rating2.items()))
    
    distance = 0
    for key in rating1:
        if key in rating2:
            distance += abs(rating1[key] - rating2[key])
    return distance

dt=df_dict

print('saeed-alireza:%f'%get_manhattan_distance(dt['saeed'],dt['alireza']))
print('saeed-abbas:%f'%+get_manhattan_distance(dt['saeed'],dt['abbas']))

saeed-alireza:2.000000
saeed-abbas:2.000000

In [10]:
def dot(A,B): 
    return (sum(a*b for a,b in zip(A,B)))

def cosine_similarity(rating1,rating2):
    rating1 = dict(filter(lambda x: x[1] != '-', rating1.items()))
    rating2 = dict(filter(lambda x: x[1] != '-', rating2.items()))
    a = rating1.values()
    b = rating2.values()
    return dot(a,b) / ( (dot(a,a) **.5) * (dot(b,b) ** .5) )

dt=df_dict

print('saeed-alireza:%f'%cosine_similarity(dt['saeed'],dt['alireza']))
print('saeed-abbas:%f'%+cosine_similarity(dt['saeed'],dt['abbas']))

saeed-alireza:0.801784
saeed-abbas:0.559893